@import './SASS_Files/variables';
@import './SASS_Files/universal';
@import './SASS_Files/utencils';
@import './SASS_Files/animation';

body {
    @include bodyProperty;
    margin: 0 auto;
    // Navigation
    nav{
        @include flex(row);
        padding: 0 5%;
        img{
            width: 100px;
        }
        ul{
            @include flex(row);
            list-style: none;
            li{
                padding: 10px;
                a{
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
        .special{
            @include flex(row);
            p{
                padding: 10px;
                margin: 0 1rem;
                a{
                    color: $primary-color;
                    text-decoration: none;
                    font-weight: 500;
                }
            }
            button{
                padding: 15px 40px;
                border-radius: 10px;
                border: none;
                color: $secondary-color;
                background-color: $primary-color;
                font-weight: 550;
            }
        }
    }

    // Header
    header{
        padding: 0 5%;
        .header-one{
            @include flex(row);
            margin-top: 2rem;
            #header-text{
                width: 30%;
                button{
                    padding: 10px;
                    margin: 0 0 1rem 0;
                    border: 1px solid black;
                    background-color: white;
                }
                h1{
                    font-size: 4rem;
                    font-weight: 500;
                    padding: 10px 0;
                    margin-top: 2rem;
                    span{
                        text-decoration: underline;
                    }
                }
                p{
                    margin-top: 2rem;
                    font-size: 1.5rem;
                    padding: 0 1.5rem 0 0;
                }
            }
            img{
                width: 45%;
                transform: rotate(10deg) translate(-150px,150px);
            }
        }
        .header-two{ 
            @include flex;
            #image1{
                width: 45%;
                transform: translate(100px, -150px) rotate(-5deg);
            }
            div{
                width: 40%;
                img{
                    width: 50%;
                }
            }
        }
    }

    // Main
    main{
        .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
            div{
                padding: 100px;
                border: 2px solid black;
                .width-button{
                    background-color: $primary-color;
                    color: white;
                    padding: 13px;
                    margin: 20px 0 0 0;
                    border: none;
                    border-radius: 20px;
                    width: 35%;
                }
                .risks-button{
                    padding: 5px 10px;
                    background-color: white;
                    border: 2px solid black;
                    color: black;
                    margin-bottom: 2rem;
                }
                h3{
                    font-size: 30px;
                    margin-bottom: 3rem;
                }
                p{ 
                    font-size: 20px;
                }
                img{
                    width: 300px;
                    margin: 2rem 0;
                }
                &:nth-child(1){
                    grid-column-start: 1;
                    grid-column-end: 3;
                    border-bottom: none;
                }
                &:nth-child(2){
                    border-right: none;
                    background-color: $background-color-1;
                }
                &:nth-child(3){
                    background-color: $tertiary-color;
                }
                &:nth-child(4){
                    grid-column-start: 1;
                    grid-column-end: 3;
                    border-top: none;
                    padding: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    align-items: center;
                    color: $secondary-color;
                    background-color: $primary-color;
                    a{
                        color:white;
                        p{
                        font-size: $font-size;

                        }
                    }
                    .short-p{
                        width: 60%;
                        text-align: start;
                    }
                }
            }

        }
        
    }

}
